*{
    box-sizing: border-box;
}
  
.header {
    background-color: rgb(5, 5, 87);
    color: white;
    min-height: 250px;
    padding: 30px 40px;
} 

h1{
    text-align: center;
}  

/* error message ---------------------------*/

#error-message{
    color: red;
    display: none; 
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* ul - li ---------------------------------*/

ul{
    margin: 0;
    padding: 0;
}

ul li {
    background-color: #e2dfdf;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    transition: 0.2s;
}  

ul li:nth-child(odd) {
    background: rgb(239, 236, 236);
}

ul li:hover {
    background: rgb(192, 189, 189);
}

/* input -----------------------------------*/

input {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 30%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

input:disabled{
    background-color:#f5f3f3;
} 

input.empty{
    background: rgb(243, 177, 177);
}

/* buttons ---------------------------------*/

button {
    background: #d9d9d9;
    color: rgb(83, 81, 81);
    cursor: pointer;
    border-radius: 0;
    border-color: gray;
    width: 120px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    padding: 8px;   
    transition: 0.3s; 
}

button:hover{
    background-color: rgb(135, 135, 135);
    color: white;
}


/**************************************************************
*************************   MEDIA QUERIES  ******************** 
***************************************************************/

/*-------------------------------------------------------------
/*                         Large desktops
--------------------------------------------------------------*/

@media screen and (min-width: 1200px)
{
}

/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/

@media screen and (max-width: 1200px)
{
}

/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 825px)
{
    input {

        border-radius: 10px;
        width: 45%;
    }
}

/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 767px)
{
    input {
        width: 90%;
    }
}